.bicicleta,
.bicicleta-light {
  max-width: 1160px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  padding: 60px 0;
  align-items: center;
}

.bicicleta-light::before {
  content: "";
  width: 80%;
  height: 460px;
  background: var(--cor-11);
  position: absolute;
  z-index: -1;
  right: 0;
}


.foto-bike {
  border-radius: 5px;
}

.bicicleta-info h3 {
  font: var(--font-1-xl);
  position: relative;
}

.bicicleta-info h3::before {
  content: "";
  height: 8px;
  width: 12px;
  background: var(--cor-p1);
  position: absolute;
  top: -16px;
}

.bicicleta-info {
  position: relative;
}

.bicicleta-info img {
  position: absolute;
  top: -16px;
  right: 0;
}

.texto-cor h3 {
  color: var(--cor-0);
}

.texto-cor p {
  color: var(--cor-5);
}

.descricao-bike {
  font: var(--font-2-s);
  color: var(--cor-8);
  margin-right: 110px;
  padding-top: 20px;
  padding-bottom: 24px;
}

.list-button-grid {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: end;
}

.list-button-grid p {
  font: var(--font-1-m);
  color: var(--cor-8);
  font-weight: 500;
  margin-left: 24px;
  padding: 8px;
}

.icon-motor::before,
.icon-fibra::before,
.icon-km::before,
.icon-rastreador::before {
  content: "";
  width: 24px;
  height: 24px;
  background-size: 100%;
  position: absolute;
  left: 0;
}

.icon-motor::before {
  background-image: url(/img/icones/eletrica.svg);
}

.icon-fibra::before {
  background-image: url(/img/icones/carbono.svg);
}

.icon-km::before {
  background-image: url(/img/icones/velocidade.svg);
}

.icon-rastreador::before {
  background-image: url(/img/icones/rastreador.svg);
}
