.bicicleta-produto-bg {
  background: var(--cor-11);
  max-width: 100%;
  box-sizing: border-box;
}

.bicicleta-produto {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

.header-produto {
  grid-column: 1 / -1;
  padding: 20px 0;
}

.imagens-bike {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  align-content: start;
}

.imagem-bike-central {
  grid-column: 1 / -1;
}

.imagens-bike img {
  border-radius: 5px;
}

.descricao-produto {
  position: relative;
}

.texto-descricao-produto {
  font: var(--font-2-l);
  color: var(--cor-5);
  margin-bottom: 32px;
}

.descricao-produto .estoque,
.descricao-produto .entrega {
  font: var(--font-1-xs);
  color: var(--cor-6);
  border-radius: 4px;
  background: var(--cor-12);
  padding: 4px 8px;
}

.descricao-produto .estoque::before,
.descricao-produto .entrega::before {
  content: "";
  width: 16px;
  height: 16px;
  background-size: 100%;
  position: absolute;
}

.estoque::before {
  background-image: url(/img/icones/estoque.svg);
}

.entrega::before {
  background-image: url(/img/icones/entrega.svg);
}

.titulo-informacao,
.titulo-ficha {
  font: var(--font-1-xs);
  color: var(--cor-0);
  text-transform: uppercase;
  margin-top: 32px;
  margin-bottom: 12px;
}

.list-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 530px;
  background: var(--cor-12);
  border-radius: 5px;
  padding: 32px;
}

.list-info li {
  margin-bottom: 35px;
}

.list-info img {
  width: 24;
  height: 24px;
  background-size: 100%;
}

.list-info h4 {
  font: 500 1.125rem/1.5 "Poppins", sans-serif;
  color: var(--cor-0);
  margin-bottom: 8px;
}

.list-info p {
  font: var(--font-2-xs);
  color: var(--cor-5);
}

.list-ficha {
  background: var(--cor-12);
  border-radius: 5px;
  padding: 20px;
}

.list-ficha li {
  font: var(--font-2-m);
  color: var(--cor-4);
  display: flex;
  justify-content: space-between;
  padding: 12px;
}

.list-ficha li span {
  color: var(--cor-6);
}

/* Parte do seguro  */

.pedale-tranquilo-bg {
  background: var(--cor-11);
  max-width: 100%;
  box-sizing: border-box;
}

.pedale-tranquilo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

.pedale-tranquilo p {
  font: var(--font-2-l);
  color: var(--cor-5);
  margin-top: 32px;
  margin-bottom: 20px;
}
