.conteiner {
  max-width: 1200px;
  padding-left: 20px;
  box-sizing: border-box;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.botao {
  display: inline-block;
  padding: 1rem 2rem;
  text-align: center;
  color: var(--cor-p5);
  text-transform: uppercase;
  background: linear-gradient(180deg, #ffbf00 0%, #f2a50c 100%);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  cursor: pointer;
  font: var(--font-1-m-b);
  max-width: max-content;
  border: none;
}

.botao:hover {
  background: linear-gradient(#ffb60d, #e59317);
}

.botao.seta::after {
  content: "";
  width: 18px;
  height: 10px;
  background-image: url(/img/icones/seta.svg);
  display: inline-block;
  margin-left: 12px;
  transition: transform 0.2s;
}

.botao.seta:hover:after {
  transform: translateX(4px);
}

/* parte de titulos */

.title {
  color: var(--cor-0);
  font: var(--font-1-xxl);
}

.title span {
  color: var(--cor-p1);
}

.title-area {
  background: var(--cor-11);
  padding-top: 60px;
  padding-bottom: 60px;
}

.title-area p {
  font: var(--font-2-l-b);
  text-transform: uppercase;
  color: var(--cor-5);
  margin-bottom: 8px;
}

@media (max-width: 600px) {
  .introducao-info a {
    padding: 12px 16px;
    font-size: 1rem;
  }

  .title-area {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .title-area p {
    font-size: 1rem;
    text-transform: lowercase;
  }
}
