.conteiner {
  max-width: 1200px;
  padding: 20px;
  margin: auto;
  box-sizing: border-box;
}

.botao,
.botao-seta {
  display: inline-block;
  padding: 1rem 2rem;
  text-align: center;
  color: var(--cor-p5);
  text-transform: uppercase;
  background: linear-gradient(180deg, #ffbf00 0%, #f2a50c 100%);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  cursor: pointer;
  font: var(--font-1-m-b);
}

.botao-seta {
  padding-right: 64px;
  position: relative;
}

.botao:hover,
.botao-seta:hover {
  background: linear-gradient(#ffb60d, #e59317);
}

.botao-seta::after {
  content: "";
  width: 16px;
  height: 8px;
  background-image: url(/img/icones/seta.svg);
  background-size: 100%;
  position: absolute;
  top: 20px;
  right: 35px;
}

.title {
  color: var(--cor-0);
  font: var(--font-1-xxl);
  padding: 10px 0;
}

.title span {
  color: var(--cor-p1);
}