.footer-bg {
  background-color: #000000;
}

.footer {
  display: grid;
  grid-template-columns: 3fr 5fr 4fr;
  gap: 40px;
  color: #ffffff;
  padding-top: 60px;
  padding-bottom: 40px;
}

.footer h4 {
  font: 500 1.5rem "Roboto", sans-serif;
  text-transform: uppercase;
  margin-bottom: 32px;
}

.footer-contato ul li {
  font: 400 1.125rem "Roboto", sans-serif;
  line-height: 2rem;
  color: var(--cor-5);
}

.footer-info a {
  font: 500 1.125rem "Roboto", sans-serif;
  line-height: 2rem;
  color: var(--cor-5);
}

.footer p {
  color: var(--cor-5);
  font: var(--font-2-s);
}

.line {
  display: block;
  height: 2px;
  max-width: 360px;
  background: var(--cor-11);
  margin: 25px 0;
}

.header-icons {
  display: flex;
  gap: 32px;
}

.footer a:hover {
  color: var(--cor-0);
}

.footer-coop {
  grid-column: 1 / -1;
  margin-top: 40px;
}

@media (max-width: 800px) {
  .footer > img {
    display: none;
  }
  .footer {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 600px) {
  .footer {
    grid-template-columns: 1fr;
    gap: 80px;
  }

  .line {
    margin: 20px 0;
  }

  .footer-coop {
    margin-top: 0px;
  }
}
