.escolha-bike {
  padding: 120px 0;
  max-width: 1300px;
  margin: auto auto;
}

.escolha-bike .title {
  color: var(--cor-11);
  padding-bottom: 40px;
  max-width: 1200px;
  margin: auto auto;
}

.carrossel {
  display: flex;
  gap: 20px;
  flex-wrap: no-wrap;
}

.carrossel h4,
.escolha-bike-interno h4 {
  font: var(--font-1-xl);
  margin-top: 16px;
  margin-bottom: 8px;
}

.carrossel p,
.escolha-bike-interno p {
  font: var(--font-2-m);
}

.escolha-bike-interno {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

.escolha-bike-interno h2 {
  grid-column: 1 /-1;
  color: var(--cor-12);
}

.escolha-bike-interno{
  margin-top: 90px;
  margin-bottom: 120px;
}