.depoimento {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: var(--cor-p1);
  overflow-x: hidden;
}

.depoimento img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0px;
}

.descricao-depoimento {
  padding: 40px 40px 80px 80px;
  align-self: end;
  background: url("../../img/dec/bottom-right-p.svg") no-repeat bottom 40px
    right 40px;
}

.descricao-depoimento p {
  max-width: 32ch;
  font: italic 900 2rem/1.25 "Merriweather", Times, serif;
  color: var(--cor-p5);
  margin-bottom: 32px;
  position: relative;
}

.descricao-depoimento p::after,
.descricao-depoimento p::before {
  font-size: 5rem;
  color: var(--cor-p2);
  position: absolute;
}

.descricao-depoimento p::before {
  content: "“";
  left: -50px;
  top: -20px;
}

.descricao-depoimento p::after {
  content: "”";
}

.descricao-depoimento .autora {
  font: var(--font-1-m-b);
  color: var(--cor-p4);
}

@media (max-width: 1200px) {
  .depoimento img {
    max-height: 520px;
  }
}

@media (max-width: 800px) {
  .depoimento {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .descricao-depoimento {
    padding: 40px 20px;
    justify-self: center;
  }

  .depoimento img {
    max-height: 250px;
  }
}
