.termos-bg {
  background-color: var(--cor-0);
  max-width: 100%;
  box-sizing: border-box;
}

.termos {
  padding: 120px 0;
}

.termos .termo {
  margin-bottom: 50px;
}

.termos h2 {
  font: 600 1.5rem/1.5 "Poppins", sans-serif;
  margin-bottom: 20px;
}

.termos .termo p {
  font: 400 1.125rem/1.5 "Roboto", sans-serif;
  color: var(--cor-10);
  max-width: 760px;
  margin-bottom: 20px;
}
